{% extends 'base.html' %}
{% load static %}
{% block bog %}
<section>
    <div class="container-fluid p-4">
        <div class="row g-0">
            <div class="card">
                <div class="card-header text-center">Board of Governors</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Sl.No.</td>
                            <td>Name</td>
                            <td>Designation</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <h6 class="bg-warning">Last Updated on : Dynamic Date</h6>
                    <!-- paginator  -->
                    Pagination
                    <!-- paginator  -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bog %}