{% extends 'base.html' %}
{% load static %}
{% block faculty %}
<section>
    <div class="container-fluid">
        <h1 class="text-center">Fculty</h1>
        <div class="row g-2">
            {% for f in facultys %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">{{f.designation}}</div>
                    <div class="card-body">
                        <h5>{{f.name}}</h5>
                        <img src="{{f.image.url}}" alt="" class="card-img">
                    </div>
                    <div class="card-footer">
                        <a href="{{f.cv.url}}" target="_blank">CV</a>
                        <span>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                About
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header bg-warning">
                                    <h5 class="modal-title" id="exampleModalLabel">About {{f.name}} | {{f.designation}} | SPAV</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    {{f.about}}
                                    </div>
                                    <div class="modal-footer">
                                        send an email <a href="mailto:{{f.email}}">Mail Now</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>
{% endblock faculty %}