{% extends 'base.html' %}
{% block policies %}
<div class="container-fluid bg-light p-1">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Website Policy</li>
            </ol>
          </nav>
    </div>
</div>
<br>
<section>
    <div class="container">
        <div class="row justify-items-center">
            <div class="col-sm-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Privacy Policy <i class="bi bi-shield-check"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Privacy Policy <i
                                        class="bi bi-shield-check text-dark"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>As a general rule, this website does not collect Personal Information about you when
                                    you visit the site. You can generally visit the site without revealing Personal
                                    Information, unless you choose to provide such information.

                                    Site Visit data:
                                    This website records your visit and logs the following information for statistical
                                    purposes - your server’s address; the name of the top-level domain from which you
                                    access the Internet (for example, .gov, .com, .in, etc.); the type of browser you
                                    use; the date and time you access the site; the pages you have accessed and the
                                    documents downloaded and the previous Internet address from which you linked
                                    directly to the site.

                                    We will not identify users or their browsing activities, except when a law
                                    enforcement agency may exercise a warrant to inspect the service provider’s logs.

                                    Cookies:
                                    A cookie is a piece of software code that an internet web site sends to your browser
                                    when you access information at that site. This site does not use cookies. Email
                                    Management:

                                    Your email address will only be recorded if you choose to send a message. It will
                                    only be used for the purpose for which you have provided it and will not be added to
                                    a mailing list. Your email address will not be used for any other purpose, and will
                                    not be disclosed, without your consent. Collection of Personal Information:
                                    If you are asked for any other Personal Information you will be informed how it will
                                    be used if you choose to give it. If at any time you believe the principles referred
                                    to in this privacy statement have not been followed, or have any other comments on
                                    these principles, please notify the webmaster through the contact us page.

                                    Note:
                                    The use of the term “Personal Information” in this privacy statement refers to any
                                    information from which your identity is apparent or can be reasonably ascertained.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Hyperlink Policy <i class="bi bi-link"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Hyperlink Policy <i
                                        class="bi bi-link text-dark"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Links to External Websites/Portals
                                    At many places in this website, you shall find links to other websites/portals. This
                                    links have been placed for your convenience. School of planning and Architecture
                                    vijayawada is not responsible for the contents and reliability of the linked
                                    websites and does not necessarily endorse the views expressed in them. Mere presence
                                    of the link or its listing on this website should not be assumed as endorsement of
                                    any kind. We cannot guarantee that these links will work all the time and we have no
                                    control over availability of linked pages.
                                    Links to School of Planning and Architecture Website by other Websites/Portals
                                    Prior permission is required before hyperlink are directed from any website/portal
                                    to this site. Permission for the same, stating the nature of the content on the
                                    pages from where the link has to be given and the exact language of the hyperlink
                                    should be obtained by sending a request to stake holder
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Hyperlink Policy <i class="bi bi-link"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Hyperlink Policy <i
                                        class="bi bi-link text-dark"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Links to External Websites/Portals
                                    At many places in this website, you shall find links to other websites/portals. This
                                    links have been placed for your convenience. School of planning and Architecture
                                    vijayawada is not responsible for the contents and reliability of the linked
                                    websites and does not necessarily endorse the views expressed in them. Mere presence
                                    of the link or its listing on this website should not be assumed as endorsement of
                                    any kind. We cannot guarantee that these links will work all the time and we have no
                                    control over availability of linked pages.
                                    Links to School of Planning and Architecture Website by other Websites/Portals
                                    Prior permission is required before hyperlink are directed from any website/portal
                                    to this site. Permission for the same, stating the nature of the content on the
                                    pages from where the link has to be given and the exact language of the hyperlink
                                    should be obtained by sending a request to stake holder
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h6 class="text-center bg-danger p-2 text-light">More Will Be updated soon ......</h6>
    </div>
</section>
<br>
{% endblock policies %}