{% extends 'base.html' %}
{% load static %}
{% block screenreader %}
<section>
    <div class="container-fluid p-0">
       <div class="row">
        <img src="{% static 'img/screen_reader.jpg' %}" class="card-img" height="200px" alt="...">
       </div>
    </div>
</section>
<section>
    <div class="container-fluid p-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center"><strong>Screen Reader Access</strong></div>
                    <div class="card-body">
                        <p>The Ministry of Human Resource Development website complies with Guidelines for Indian Government Websites and World Wide Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level A. This will enable people with visual impairments access the website using assistive technologies, such as screen readers. The information of the website is accessible with different screen readers, such as JAWS, NVDA, SAFA, Supernova and Window-Eyes.</p>
                        <p>Following table lists the information about different screen readers:
                            Information related to the various screen readers: </p>
                        <hr>
                        <br>
                        <!-- screen reader access table  -->
                        <table class="table">
                            <tr class="bg-info">
                                <th>Screen Reader</th>
                                <th>Website(URL)-External</th>
                                <th>Free / Commercial</th>
                            </tr>
                            <tr>
                                <td>1. Non Visual Desktop Access (NVDA)</td>
                                <td><a href="http://www.nvda-project.org/(link is external)" target="_blank">http://www.nvda-project.org/(link is external)</a></td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>2. System Access To Go</td>
                                <td><a href="http://www.satogo.com/">http://www.satogo.com/</a></td>
                                <td>Free</td>
                            </tr>
                        </table>
                        <h6 class="bg-danger text-light p-2">More Will be updated Soon....</h6>
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <!-- screen reader access table  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock screenreader %}